@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Localização: </strong>Palotina, PR<br />
    <strong>Email:</strong> <a href="mailto:@ViewData["Email"]">@ViewData["Email"]</a><br />
    <strong>Página pessoal: </strong> <a href="https://henriqueholtz.github.io/">henriqueholtz.io</a><br />
    <abbr title="Phone">P:</abbr>
    @ViewData["Phone"]
</address>

<address>
    @*<strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>
